:8765 {
    basicauth * {
        WEBDAV_USER WEBDAV_PASSWORD
    }

    tls /ssl/CERTFILE /ssl/KEYFILE

    root * /data

    @get method GET
    route {
        file_server @get {
            hide .git .gitignore .stfolder .stversions
            browse
        }
        webdav
    }
}